<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todos</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="text-success">Your Todos</h1>
      <a href="/logout" class="btn underline_danger">Logout</a>
    </div>
    <ul class="list-group mt-4">
      {{#each todos}}
      <li class="list-group-item bg-dark text-success">
        <h5>{{this.title}}</h5>
        <p>{{this.description}}</p>
        <p>Status: {{#if this.isFinished}}<span class="todo_complete">Finished</span>{{else}}<span class="todo_incomplete">Not Finished</span>{{/if}}</p>
        <a href="/todo/{{this.id}}/status" class="btn underline_safe">
          {{#if this.isFinished}}Mark as Unfinished{{else}}Mark as Finished{{/if}}
        </a>
        <br>
        <a href="/todo/{{this.id}}/edit" class="btn btn-warning me-2 underline">Edit</a>
        <br>
        <a href="/todo/{{this.id}}/delete" class="btn underline_danger">Delete</a>
      </li>
      {{/each}}
    </ul>
    <br><br>
    <center>
    <div class="pagination mt-4">
      {{#if (gt currentPage 1)}}
      <a href="/todo?page={{subtract currentPage 1}}" class="btn underline_pagination">Previous</a>
      {{/if}}
      <span>Page {{currentPage}} of {{totalPages}}</span>
      {{#if (lt currentPage totalPages)}}
      <a href="/todo?page={{add currentPage 1}}" class="btn underline_pagination">Next</a>
      {{/if}}
    </div>
    </center>
    <br><br>
    <a href="/todo/create_todo" class="btn underline_safe mt-4">Create New Todo</a>
    <br><br>
  </div>
</body>
</html>
