<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo Details</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container mt-5">
    <h1 class="text-success">Todo Details</h1>
    <p><strong>Title:</strong> {{todo.title}}</p>
    <p><strong>Description:</strong> {{todo.description}}</p>
    <p><strong>Status:</strong> {{#if todo.isFinished}}Finished{{else}}Not Finished{{/if}}</p>
    <div class="mt-3">
      <a href="/todo/{{todo.id}}/status" class="btn custom-file-upload">
        {{#if todo.isFinished}}Mark as Unfinished{{else}}Mark as Finished{{/if}}
      </a>
      <a href="/todo/{{todo.id}}/edit" class="btn btn-danger">Edit Todo</a>
      <a href="/todo/{{todo.id}}/delete" class="btn btn-danger">Delete Todo</a>
    </div>
    <a href="/todo" class="btn nav-link mt-3">Back to Todos</a>
  </div>
</body>
</html>
